@{
    ViewBag.Title = "Home Page";
}

<header>
    <h1>Eniko Avina</h1>
    <p id="position">Software Developer</p>
</header>
<section>
    <h2>Summary</h2>
    <p class="summary">
        <img src="https://www.freeiconspng.com/uploads/face-head-woman-female-icon-7.jpg" alt="">
        Junior software engineer with client-facing experience in a fast-pacing, multinational company environment.
    </p>
</section>
<section>
    <h2>Experience</h2>
    <ul id="experience">

        <li>
            <b>Software Developer - KPMG</b> | 2018 - 2020
        </li>
    </ul>
</section>
<section>
    <h2>Skills</h2>
    <table id="skills">
        <tr><th>Skill</th><th>Level</th></tr>
        <tr><td>HTML</td><td>Intermediate</td></tr>
        <tr><td>CSS</td><td>Intermediate</td></tr>
        <tr><td>C#</td><td>Intermediate</td></tr>
        <tr><td>ASP.NET</td><td>Intermediate</td></tr>
        <tr><td>Javascript</td><td>Intermediate</td></tr>
        <tr><td>SQL</td><td>Intermediate</td></tr>
        <tr><td>Azure</td><td>Beginner</td></tr>
        <tr><td>React</td><td>Beginner</td></tr>
        <tr><td>Python</td><td>Beginner</td></tr>
        <tr><td>Angular</td><td>Beginner</td></tr>
    </table>
</section>
<section>
    <h2>Contact Form</h2>
    <form id="contact-form">
        <label for="name">Name: </label><input placeholder="Name" id="name" type="text" /><br>
        <label for="email">Email: </label><input placeholder="Email" id="email" type="email" /><br>
        <textarea placeholder="Message"></textarea><br>
        <input type="submit" value="SEND">
    </form>
</section>